#mainContainer {
    background-color: rgb(221, 221, 221);
}

#greeting, #nameTitle, #nameSubTitle, #question, #answer, #photoCred, #mainImage {
    opacity: 0;
}

#greeting, #nameSubTitle {
    font-size: 200%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#greeting {
    font-style: italic;
    margin-left: 60px;
    animation-duration: 0.5s;
    animation-delay: 1.4s;
    animation-name: fadein, slideup;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#nameTitle {
    font-size: 500%;
    font-weight: bold;
    animation-duration: 1.2s;
    animation-delay: 2.3s;
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#nameSubTitle {
    animation-duration: 0.5s;
    animation-delay: 4.1s;
    animation-name: fadein, slideup;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#mainRow {
    justify-content: flex-start;
}

#textCol {
    max-height:100vh;
    overflow-y: scroll;
}

#textWrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5%;
}

#question {
    font-weight: bold;
}

#question, #answer, #photoCred {
    animation-duration: 0.5s;
    animation-delay: 6.0s;
    animation-name: fadein, slideup;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#photoCred {
    font-style: italic;
}

#photoCol {
    height: 100vh;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

#mainImage {
    max-height: 90%;
    border-radius: 25px;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#italic {
    font-style:italic;
}

a {
    color: inherit;    
}

a:hover {
    color:rgb(94, 94, 94);
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

@keyframes slideup {
    from {
        padding-top: 2.5%;
    }

    to {
        padding-top: 0%;
    }
}
