#mainContainer {
    background-color: rgb(221, 221, 221);
}

#greeting, #nameSubTitle {
    font-size: 200%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#greeting {
    font-style: italic;
    margin-left: 50px;
}

#nameTitle {
    font-size: 500%;
    font-weight: bold;
}

#mainRow {
    justify-content: flex-start;
}

#textCol {
    max-height:100vh;
    overflow-y: scroll;
}

#textWrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5%;
}

#question {
    font-weight: bold;
}

#photoCred {
    font-style: italic;
}

#photoCol {
    height: 100vh;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

#mainImage {
    max-height: 90%;
    border-radius: 25px;
}

